---
import { Image } from 'astro:assets';
import Button from '../ui/Button.astro';
import heroBgImg from '@assets/boxing_background.jpeg';
import logoImg from '@assets/boxing_logo.png';

---

<section class="relative h-screen min-h-[600px] flex items-center overflow-hidden">  <!-- Background Image with Overlay -->
  <div class="absolute inset-0">
      <Image 
        src={heroBgImg}
        alt="Background"
        class="w-full h-full object-cover"
        width={2070}
        height={1380}
        decoding="async"
        fetchpriority="high"
        style="z-index: -10;"
      />
  </div>
  <div class="absolute inset-0 flex justify-center">
      <Image 
        src={logoImg}
        alt="Kanata Boxing logo"
        class="w-4/5 h-full object-contain inset-2"
        decoding="async"
        fetchpriority="high"
        style="z-index:10;"
      />

  </div>

  <!-- Content -->
   <div class="absolute inset-0 flex justify-center w-full">
    <p class="text-center md:text-3xl text-slate-200 mb-8 min-w-2xl max-w-3xl absolute bottom-1/6">
      Kanata and Stittsville's source for boxing
    </p>
  </div>
  <!-- Scroll indicator -->
  <div class="absolute bottom-8 left-1/2 -translate-x-1/2 animate-bounce">
    <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
    </svg>
  </div>
</section>

<style>
  .hero-gradient-text {
    background: linear-gradient(135deg, #9f3434 0%, #8d7051 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .stat-gradient {
    background: linear-gradient(to right, #ffffff, #e1b486);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
</style>

