---
import BaseLayout from "../layouts//BaseLayout.astro";
import SITE from "../config/site";
import { Image } from 'astro:assets';
const { frontmatter } = Astro.props;
import { SITE } from '../config/site';
console.log("AAAAAAAHHHHHHHHHHHHH");
console.log(Astro.site);
const image_url = "/kanata_boxing/" + frontmatter.hero;

---

<BaseLayout>
    <!-- <p>{frontmatter.image}</p> -->
    <section class="relative h-[70vh] min-h-[500px] flex items-center overflow-hidden">
    <div class="absolute inset-0">
      <img class="w-full h-full object-contain" src={image_url}>
      <div style="z-index: -10;"class="absolute inset-0 bg-linear-to-r from-stone-900/100 via-stone-900/50 to-stone-900/60"></div>
      <div class="absolute inset-0 bg-[radial-gradient(circle_at_50%_50%,rgba(59,130,246,0.1),transparent_70%)]"></div>
    </div>

  </section>
  
  <div class="container mx-auto relative z-10 px-4 sm:px-6 lg:px-8">
    
    <style is:global>
      ol {
        list-style-type: value;
        margin-left: 1.5em; /* Add some margin for indentation */
      }

      ul {
        list-style-type: disc;
        margin-left: 1.5em; /* Add some margin for indentation */
      }
    </style>
    <div class="max-w-4xl mx-auto text-center">
      <br>
      <p class="text-3xl">Posted</p>
      <p class="text-2xl">{frontmatter.pubDate.toString().slice(0, 10)}</p>
      
      <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
      
      
    </div>
    <p class="text-justify">
        <slot />
    </p>
    </div>

    
</BaseLayout>